<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TowerManagement.Properties.Settings.TManagementConnectionString"
     connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TManagement.mdb;Jet OLEDB:Database Password=dn"
     providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="CnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=TManagement.mdb;Jet OLEDB:Database Password=dn" />

    <add key="MSG1" value="لطفا اطلاعات را بطور کامل وارد نمائید"/>
  </appSettings>
</configuration>